.main-container {
  margin-top: 160px;
  text-align: center;
  color: rgb(105, 160, 241);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.firstpara {
  font-size: 50px;
  margin-bottom: 20px;
}
#message {
  padding-left: 10px;
  background-color: rgb(214, 228, 221);
  border-radius: 7px;
  text-decoration: none;
  width: 500px;
  height: 40px;
  text-decoration: none;
  border: none;
  font-size: 26px;
  margin-bottom: 5px;
}
#submit {
  font-size: 29px;
  width: 100px;
  height: auto;
  color: rgb(34, 37, 37);
  background-color: rgb(185, 229, 236);
  border-radius: 7px;
  text-decoration: none;
  margin-bottom: 20px;
}
.secpara {
  font-size: 40px;
  margin-bottom: 10px;
}
#lastpara {
  font-size: 40px;
}
